%meta{ :charset => "utf-8" }/
%title
  == #{ controller.controller_name.titleize } - #{ controller.action_name.titleize }

%meta{ :name => "description", :content => "" }/
%meta{ :name => "author", :content => "" }/

-# Mobile viewport optimized: j.mp/bplateviewport
%meta{ :name => "viewport", :content => "width=device-width,initial-scale=1"}/

-# Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons
-# Android 2.3 uses the default bookmark icon with the favicon in the middle if you don't specify touch icons via a link tag

-# render stylesheet passed as local or fall back to application stylesheet
-# CSS: implied media=all
- stylesheet ||= "application"
= stylesheet_link_tag "layouts/#{stylesheet}"

-# More ideas for your <head> here: h5bp.com/d/head-Tips

-#
  All JavaScript at the bottom, except for Modernizr / Respond.
  Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
  For optimal performance, use a custom Modernizr build: www.modernizr.com/download/
  this version of modernizr includes all core tests, html5shiv, yepnope and respond.js
= javascript_include_tag "modernizr"

-# Protect against Cross-Site Request Forgery (csrf) attacks
= csrf_meta_tag